<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bekende Autosoorten</title>
    <link href = "styles.css" rel = "stylesheet" />
</head>
<body>
<button id="back-button" onclick="navigateTo('index.html')">← Terug naar Webfront</button><div id="main">
    <div class="kolom">
        <h1>Gekende autosoorten</h1>
        <button type = "button" id = "get-autosoorts" v-on:click="fetchAPIData">Haal de autosoorten op</button>
        <div v-if = "responseAvailable == true" id="bekende_autosoorten">
            <ul id="v-for-object" class="result">
                <li v-for="autosoort in result">
                    id: {{autosoort.id}} -- {{autosoort.naam}} {{autosoort.merk}} -- Voorraad:{{autosoort.huidigVoorraadniveau}} <br>
                    minimum: {{autosoort.minimumpeiler}} -- maximum: {{autosoort.maximumpeiler}}
                </li>
            </ul>
        </div><br/><br/>
        <button type = "button" id = "delete-autosoorts" v-on:click="deleteAllAutosoorten">Verwijder de autosoorten</button>
    </div>
    <div class="kolom">
        <h1>Autosoort toevoegen</h1>
        <div id="mainform">
            Naam: <input type="text" id="naam" name="naam"
                         v-model="autosoortData.naam" /> <br/>
            Merk: <input type="text" id="merk" name="merk"
                         v-model="autosoortData.merk" /> <br/>
            Huidigevoorraad: <input type="text" id="voorraad" name="voorraad"
                                    v-model="autosoortData.huidigevoorraad" /> <br/>
            Minimumpeiler: <input type="text" id="min" name="min"
                                  v-model="autosoortData.minimumpeiler" /> <br/>
            Maximumpeiler: <input type="text" id="max" name="max"
                                  v-model="autosoortData.maximumpeiler" /> <br/><br/>
            <button type = "button" id = "add-autosoort" v-on:click="submitForm">Voeg autosoort toe</button>
            <div v-if = "responseAvailableCreation == true" class="result" id="resultaat_toevoeging">
                Autosoort gecreëerd met id {{result.id}}
            </div>
        </div>
    </div>
    <div class="kolom">
        <h1>Autosoort opzoeken</h1>
        <div id="searchform">
            Naam: <input type="text" id="naamToBeFound" name="naam2"
                         v-model="autosoortData.naamToBeFound" /> <br/><br/>
            <button type = "button" id = "search-autosoort" v-on:click="searchForm">Zoek autosoort</button>
            <div v-if = "responseAvailableSearch == true" class="result">
                <h3>Gevonden: {{result.naam}} {{result.merk}}</h3>
            </div>
        </div>
    </div>
    <div id="">
        <!-- Facturen Beheer -->
        <div class="kolom">
            <h1>Facturen</h1>
            <button type="button" v-on:click="fetchFacturen">Haal alle facturen op</button>
            <ul v-if="responseFacturen" class="result">
                <li v-for="factuur in resultFacturen">
                    ID: {{factuur.id}} -- Nummer: {{factuur.nummer}}
                </li>
            </ul>
            <button type="button" v-on:click="deleteFacturen">Verwijder alle facturen</button>

            <h2>Factuur toevoegen</h2>
            Nummer: <input type="text" v-model="factuurData.nummer" /><br/>
            <button v-on:click="addFactuur">Voeg factuur toe</button>
        </div>

        <!-- Medewerkers Beheer -->
        <div class="kolom">
            <h1>Medewerkers</h1>
            <button type="button" v-on:click="fetchMedewerkers">Haal alle medewerkers op</button>
            <ul v-if="responseMedewerkers" class="result">
                <li v-for="medewerker in resultMedewerkers">
                    ID: {{medewerker.id}} -- {{medewerker.voornaam}} {{medewerker.achternaam}} ({{medewerker.functie}})
                </li>
            </ul>
            <button type="button" v-on:click="deleteMedewerkers">Verwijder alle medewerkers</button>

            <h2>Medewerker toevoegen</h2>
            Voornaam: <input type="text" v-model="medewerkerData.voornaam" /><br/>
            Achternaam: <input type="text" v-model="medewerkerData.achternaam" /><br/>
            Email: <input type="text" v-model="medewerkerData.email" /><br/>
            Telefoonnummer: <input type="text" v-model="medewerkerData.telefoonnummer" /><br/>
            Functie: <input type="text" v-model="medewerkerData.functie" /><br/>
            <button v-on:click="addMedewerker">Voeg medewerker toe</button>
        </div>

        <!-- Verkopen Beheer -->
        <div class="kolom">
            <h1>Verkopen</h1>
            <h2>Verkoop toevoegen</h2>
            Autosoort ID: <input type="text" v-model="verkoopData.autosoortId" /><br/>
            Factuur ID: <input type="text" v-model="verkoopData.factuurId" /><br/>
            Medewerker ID: <input type="text" v-model="verkoopData.medewerkerId" /><br/>
            <button v-on:click="addVerkoop">Voeg verkoop toe</button>
        </div>
    </div>
</div>

</body>


<!-- Vue and Custom JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src = "scripts.js"></script>
</html>